.error__component {
	width: calc(100% - 18.75rem);
	display: flex;
	align-items: center;
	justify-content: center;
}

.error__text {
	/* component-text/sm */
	font-family: 'Inter';
	font-size: 1.2rem;
	font-style: normal;
	font-weight: 400;
	line-height: 150%; /* 1.3125rem */

	display: flex;
	align-items: center;
	gap: 0.5rem;
	color: red;
}

.error__text path {
	fill: red;
}
